.kbd {

  border: 1px solid gray;
  font-size: 1.2em;
  box-shadow: 1px 0 1px 0 #eee, 0 2px 0 2px #ccc, 0 2px 0 3px #444;
  border-radius: 3px;
  margin: 3px;
  padding: 10px 10px 0;
}

#video {
  left: 0;
  max-width: 100%;
  position: absolute;
  height: 90%;
}

.key-container {
  line-height: 0.8;
  position: fixed;
  bottom: 2em;
  left: 2em;
  font-size: 2em;
  padding: 10px;
}

.key-only {
  padding-left: 1.3em;
}

.keys.arrows-bottom {
  margin-bottom: 10px;
  margin-top: -9px;
  padding-left: 5px;
}

.keys.arrows-top {
  line-height: 0;
  padding-top: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#state {
  position: fixed;
  bottom: 10px;
  left: 20px;
  background: black;
  color: white;
}

.fan-pause {
  --fa-animation-duration: 0;
}

.fan-quiet {
  --fa-animation-duration: 2s;
}

.fan-normal {
  --fa-animation-duration: 1s;
}

.fan-strong {
  --fa-animation-duration: 0.1s;
}

.status-line {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.right {
  float: right;
  position: fixed;
  right: 40px;
}

.left {
  float: left;
  padding-bottom: 10px;
  padding-left: 10px;
}

kbd-ctlr {
  cursor: pointer !important;
}

.left kbd-ctlr {
  padding-left: 10px;
  padding-right: 10px;
}

.home-logo {
  padding-top: 20px;
  float: left;
}

.actions-container {
  position: fixed;
  bottom: 11em;
  left: 5.6em;
}
